* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #323c42;
    overflow-x: hidden;
}

.phone-container {
    max-width: 1200px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
